.wrapper{
	max-width: 1024px;
	margin: 0 auto;
	padding: 0 16px;
	font-family: sans-serif;
}

.box-contact{
	width: 600px;
	height: 400px;
	border: 2px solid blue;
	text-align: center;
}
.box-contact__next{
	
}
.box-contact__user-image {
    margin-bottom: 16px;
}

.box-contact__user-image img {
    width: 230px;
    border-radius: 50%;
}

.box-contact__content {
	font-family: sans-serif;
	font-style: bold;
	font-size: 14pt;
}

.box-contact__elements ul, li{
	list-style: none;
	display: inline-block;
}