$base-blue: green;
$base-red: gray;
$base-white: pink;

.box
{
	border: 1 px solid;
} 
.blue
{
	background-color: $base-blue;
	color: pink;
}
.white
{
	background-color: $base-red;
}
.red
{
	background-color: $base-white;
}
