doctype html
html(lang="en")
	head
		meta(charset="utf-8")
		title html with gulp
		link(rel="stylesheet" type="text/css" href="css/golabal.css")
		link(rel="stylesheet" type="text/css" href="css/style.css")
	body
		include ../components/nav/nav.pug
		div.box.blue
			h1 Costa Rica Pura Vida
		div.box.white
			h1 Argentina che
		div.box.red
			h1 Brasil :)
		div.box.green
			h1 Holanda
		div.brown
			h1 Honduras Alba <3
		div.cyan
			h1 Portugal 
	script(src="assets/js/main.js")