html, body
{

}

.wrapper
{
	margin: 0 auto;

}

.header-wrapper
{
	background-color: #515a65;z
	/* 
	overflow-x: hidden;
	min-height: 100%;
	max-width: 1024px;
	padding: 0 16px;
	*/
}

.navbar-aptastico
{
	background-color: #515a65;
	text-align: left;
	border-color: transparent;
	

   	/*
   	border-radius: 90px 90px 90px 90px;
   	border:2px solid black;
   	background-color: transparent;
   	width: 500px;
   	height: 150px;
   	*/
}
.component-hero
{
	overflow: hidden;
}
.component-hero__image
{
	position: absolute;
	z-index: 0;
}
.component-hero__image--phone
{
	width: 100%;
}

.header-text
{
	color: white;
	font-family: sans-serif;
	font-size: 12pt;
}

.services
{
	text-align: center;
}

.services img 
{
	text-align: center;
}

.navbar-aptastico a.active:hover
{
	background-color: #3d4951

}

.header-content
{
	background-color: #515a65;
	color: white;
	font-family: sans-serif;
	font-size: 14pt;
	background-size: cover;

}