html, body
{

}
.main-container
{
	background-color: #FAFAFA;
}
/* header*/
.header-container
{
	background-color: #515a65;
}

.header-content
{
	margin: 0 auto;
	padding-top: 5px;
}
.navbar-aptastico
{
	background-color: #515a65;
}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover
{
	background: transparent;
}
.navbar 
{
    border: transparent;
}

/* Hero */
.hero
{
	overflow: hidden;
}
.hero p{
	color: white;
	font-family: sans-serif;
	font-size: 10pt;
	padding-top: 10px;

}
.hero h1
{
	color: white;
	font-family: sans-serif;
}
.hero .hero--btn-request
{
	padding-top: 40px;	
	padding-bottom: 40px;	
}
.component-hero__image
{
	position: absolute;
	z-index: 0;
}
.component-hero__image--phone
{
	width: 100%;
}
/* Brand Container */
.brand-container
{
	margin: 0 auto;
	padding-top: 12px;
    padding-left: 45px;
    padding-bottom: 12px;
	background-color: #EBEBEB;

}
/* Services */
.services-container
{
	text-align: center;
	padding-top: 60px;
	padding-bottom: 40px;
	padding-left: 30px;
	padding-top: 30px;

}

.services-container img 
{
	text-align: center;
}
.services-container h2 
{
	font-family: sans-serif;
	color: #4B5A65;
}
.services-container p 
{
	font-family: sans-serif;
	color: #A4A4A4;
}
.services-container .col-xs-12 {
    padding-bottom: 60px;
}
/* Proyect-container*/
.proyect-container h3
{
	color: #899298;
	font-family: sans-serif;
}
.proyect-container--title
{
	padding-bottom: 10px;

}
/* Aside */
/* coment-container*/
.coment-component
{
	padding-top: 40px;
	padding-bottom: 40px;
	padding-left: 30px;
	padding-top: 30px;
	background-color: #FAFAFA;

}

.coment-component h3, h4
{
	color: #899298;
	font-family: sans-serif;
}
.coment-component__blog p
{
 color: #5C5C5C;
}
.coment-component__blog--foot
{
	padding-top: 20px;
	color: #3E95D2;
}
.coment-component__twitter p
{
	color: #5C5C5C;
	padding-top: 7px;
    padding-bottom: 21px;
}
.coment-component__twitter--follow-us
{
	padding-top: 5px;
}
/* global */
.g-ancles--blue a
{
	color: #3E95D2;
	cursor: pointer;
}

.g-date-coment span
{
 color: #ADADAD;
 font-size: 8pt;
 display: block;
}
/* Footer */
.footer-container
{ 
	background-color: #FAFAFA; 
	color: #899298;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 30px;
	padding-top: 30px;
}