/* Generak rules*/
.wrapper{
	max-width: 1024px;
	margin: 0 auto;

}
.row {
	display: flex;
}

.col {
	padding: 0 16px;
}

.col-10 {
	width: 83.33%;
}

.col-8 {
	width: 66.66%;
}

.col-6 {
	width: 50%;
}

.col-4 {
	width: 33.33%;
}

.col-1 {
	width: 8.33%;
}

.col-2 {
	width: 16.66%;
}

.col-3{
	width: 25%;
}


/* Header */
.divider{
	border-bottom: 1px solid blue;
}
.header{
	padding: 10px 16px;
	
}

.header__logo {
	max-width: 100%;
	width: 50px;
}
/* Menu */
.main-menu  ul, li{
	list-style: none;
	display: inline-block;
}
/* Main Section */
.main__title{
	border-bottom: 1px solid grey;
}

/* Events */
.events-title{
	border-bottom: 1px solid grey;
	padding-bottom: 9px;
}
.footer{
	border-top: 1px solid grey;
	margin-top: 5px;
}


