body
{
    background-color: rgba(0,0,0,0.1);
}
header{
    background-color: rgba(0,0,0,0.4);
}
.wrapper{
    background-color: rgba(0,0,0,0.0);
	max-width: 1024px;
    margin: 0 auto;
    padding: 0 16px;
}

.header-container{
	 margin-left: 0px;
    font-family: sans-serif;
    color: white;
    border-bottom: 10px solid salmon;

}
.main-task__add{
	margin-top: 10px;
	display: flex;
    margin-bottom: 10px;
}
.main-task__add select, input[type=text],input[type=submit]{
    margin-top: 10px;
    margin-left: 40px;
}

.main-task__add select{
	width: 20%;
	height: 50px;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 300px;
	
}

.main-task__add input[type=text]{
    display: block;
    width: 50%;
    font-size: 12pt;
    color: grey;
    font-family: sans-serif;
    border: none;
    border-bottom: 2px solid green;
    border-radius: 0%;
}

.task-complete {
	text-decoration: line-through;
}

.btn
{
	display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 10px;
}
.btn-succes{
	color: #fff;
	width: 15%;
    margin-bottom: 5px;
    background-color: #5cb85c;
    border-color: #4cae4c
}

.divCreate {
    font-family: sans-serif;
    padding-top: 20px;
    padding-left: 40px;
    background-color: green;
    color: white;
    margin-top: 0px;
    font-size: larger;
    border-bottom: 5px solid white;
    min-height: 45px;
}
.divCreate input, button {
   
}
.btn-danger {
    color: #fff;
    width: 20p;
    background-color: #FE2E2E;
    border-color: #FF0000;
    text-align: center;
    /*margin-left: 80px;*/
    margin-bottom: 5px;
}

.checkBoxElement {
    width: 20px;
    //transform: scale(1.5);
   /* margin-left: 80px; */
} 
.some{
    float: right;
    padding-right: 5px;
}