/*
.maint-content__form-wrapper{
	margin-left: 5px;
	padding-left: 5px;
}

.main-content__form
{
	padding-top: 15px;
	background-color: #F8FBEF;
    margin-right: 50px;
    margin-left: 50px;
    margin-bottom: 50px;
    margin-top: 50px;
}
.main-content__form label{
	display: block;
    width: 100%;
    padding-bottom: 5px;
    margin-left: 20px;
    color: black;
    font-size: 12pt;
    font-family: sans-serif;
    margin-top: 2px;

}

.main-content__form input[type=text], textarea{
    display: block;
    width: 98%;
    padding-top: 10px;
    background: transparent;
    padding-left: 5px;
    margin-left: 20px;
    font-size: 12pt;
    font-family: sans-serif;
}
*/

.main-content__contact-us-wrapper{
	padding: 20px 180px;
	margin: 20px 180px;
	/*background-color: rgba(0, 0, 0, 0.3);*/
	/*border-left: 6px solid red; */  
	/*border-bottom: 6px solid red;*/
}
.main-content__contact-us--form label{
	display: block;
    color: white ; /*#A4A4A4*/
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 12pt;
    font-family: sans-serif;

}
.main-content__contact-us--form input[type=text], input[type=email], textarea{
	display: block;
	min-width: 99%;

	width: 99%;
	font-size: 12pt;
	background-color: rgba(0, 0, 0, 0.3);
	color: white;
    font-family: sans-serif;
    border: none;
    border-bottom: 2px solid #FF6200; 

}

.main-content__contact-us--form  textarea{
	resize: none;
}

.main-content__contact-us--form input[type=radio]
{
	font-size: 14pt;
	font-family: sans-serif;
}
.btn
{
	display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}
.btn-succes{
	color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
}
.button-container
{
	text-align: center;
	margin: 10px auto;
}

@media only screen and (max-width: 768px){
	.main-content__contact-us-wrapper
	{
			padding: 0;
			margin: 0 auto;
	}
	.button-container
	{
		margin: 3px auto;
	}

}
/*
@media only screen and (min-width: 768px){
	.main-content__contact-us-wrapper
	{
			padding: 0;
			margin: 0 auto;
	}

}
*/





