/* Global */
html,body
{
	overflow-x: hidden;
	min-height: 100%;
}

body
{
	font-family: sans-serif;
	color: white;
	font-size: 80%;
	background: url(../images/bg.jpg) no-repeat center center;
	background-size: cover;
	min-height: 100%;
}
img
{
  max-width: 100%;
}

.wrapper
{
	max-width: 1024px;
	margin: 0 auto;
	padding: 0 16px;
}

.row{
	display: flex;
/*	margin-bottom: 4%;*/
}

.col{
	padding: 0 16px;
}

.col-15{
	width: 20%;
}
.col-6{
	width: 50%;
}

.g-ada-text{
	position: absolute;
	overflow:hidden;
	clip:rect(0 0 0 0);
	height: 1px;
	width: 1px;
	margin: -1px;
	padding: 0;
	border: 0;
}

.g-containers-background
{
	background-color: rgba(0, 0, 0, 0.3);
}

.skip-navigation 
{
	position: fixed;
	top: 0;
	left: 0;

}

.skip-navigation .g-ada-text
{
	display: block;
	background: #999;
	color: white;line-height: 40px;
}

.skip-navigation .g-ada-text:focus
{
	overflow: visible;
	clip: unset;
	height: auto;
	width: 150px;
	padding: 0 20px;
}
/* Media query */
@media only screen and (max-width: 768px){
	
	.row{
		display: block;
	}

	.col{
		padding: 0;
	}

	.col-6{
		width: 100%;
		text-align: center;
	}

    .col-15{
		width: 100%;
		text-align: center;
	}
	.col-15 img{
		width: 100%;
	}
	.

	.col-6{
		width: 100%;
		text-align: center;
	}

	.related-content__panels--title
	{
		min-height: 20px;
	}

}
/* END Global*/