/*  Header */
.header__bar
{
	padding-top: 15px;
	height: 50px;
	border-style: none;
	border-width: 1px;
	box-shadow: 10px 10px 5px #888888;
	background: -webkit-linear-gradient(#00BFFF, #08c);
   	background: -moz-linear-gradient(#00BFFF, #08c);
   	background: -o-linear-gradient(#00BFFF, #08c));



}
.header__bar ul li 
{
  	list-style:none;
  	float: left;
  	margin-right: 20px;
  	font-size: 14pt;
  	font-family: sans-serif;
  	color: white;
}

.header__bar a:hover { 
    background-color: white;
    transition: background-color 200ms ease-out 58ms;
}