/* Global */
html,body
{
	overflow-x: hidden;
	min-height: 100%;
}

body
{
	font-family: sans-serif;
	color: white;
	font-size: 80%;
	background: url(../images/bg.jpg) no-repeat center center;
	background-size: cover;
	min-height: 100%;
}
img
{
  max-width: 100%;
  
}

.wrapper
{
	max-width: 1024px;
	margin: 0 auto;
	padding: 0 16px;
}

.row{
	display: flex;
/*	margin-bottom: 4%;*/
}

.col{
	padding: 0 16px;
}

.col-15{
	width: 20%;
}
.col-6{
	width: 50%;
}

.g-ada-text{
	position: absolute;
	overflow:hidden;
	clip:rect(0 0 0 0);
	height: 1px;
	width: 1px;
	margin: -1px;
	padding: 0;
	border: 0;
}

.g-containers-background
{
	background-color: rgba(0, 0, 0, 0.3);
}

.skip-navigation 
{
	position: fixed;
	top: 0;
	left: 0;

}

.skip-navigation .g-ada-text
{
	display: block;
	background: #999;
	color: white;line-height: 40px;
}

.skip-navigation .g-ada-text:focus
{
	overflow: visible;
	clip: unset;
	height: auto;
	width: 150px;
	padding: 0 20px;
}

/* END Global*/

/* Main Content */
.main-content{
	margin-bottom: 40px;
}

.main__featured-content--paragraph
{
	/*
	height: 324px;
	width: 484px;
	*/
}

.main__featured-content--image-container
{
	background-color: rgba(255, 255, 255, 0.2);
	padding: 10px;
}
/* Related Content */
.row-carousel{
	padding-top: 10px;
}

.related-content__panels--image-text
{
	padding-top: 0px;
}
.related-content__panels--title
{
	min-height: 10px;
}
/* END Related Content */

/*  Header */
.header__bar
{
	padding-top: 15px;
	height: 50px;
	border-style: none;
	border-width: 1px;
	box-shadow: 10px 10px 5px #888888;
	background: -webkit-linear-gradient(#00BFFF, #08c);
   	background: -moz-linear-gradient(#00BFFF, #08c);
   	background: -o-linear-gradient(#00BFFF, #08c));



}
.header__bar ul li 
{
  	list-style:none;
  	float: left;
  	margin-right: 20px;
  	font-size: 14pt;
  	font-family: sans-serif;
  	color: white;
}

.header__bar a:hover { 
    background-color: white;
    transition: background-color 200ms ease-out 58ms;
}

/* Footer*/
.share-this{
  text-align: center;
}

.share-this__items
{
	list-style: none;
	
	text-align: center;
}
.share-this__items ul li
{  /*
	display: inline-block;
	float: left;
	*/
}
.share-this__items .facebook, .share-this__items .youtube, .share-this__items .twitter, .share-this__items .pinterest, .share-this__items .google-plus, .share-this__items .instagram
{
  background-image: url('../images/icons-sprite.png');
  background-repeat: no-repeat;
  display: inline-block;
}

.facebook
{
	height: 28px;
	width: 28px;
	background-position: 0px 0px;
}
.youtube
{
	height: 29px;
	width: 29px;
	background-position: -27px 1px;
}
.twitter
{
	height: 29px;
	width: 29px;
	background-position: -57px 1px;

}
.pinterest
{
	height: 29px;
	width: 29px;
	background-position: -86px 0px;

}

.google-plus
{
	height: 29px;
	width: 29px;
	background-position: -115px 1px;
}

.instagram
{
	height: 29px;
	width: 29px;
	background-position: -145px 1px;
}
/* fin footer */

/* Media query */
@media only screen and (max-width: 768px){
	
	.row{
		display: block;
	}

	.col{
		padding: 0;
	}

	.col-6{
		width: 100%;
		text-align: center;
	}

    .col-15{
		width: 100%;
		text-align: center;
	}
	.col-15 img{
		width: 100%;
	}
	.

	.col-6{
		width: 100%;
		text-align: center;
	}

	.related-content__panels--title
	{
		min-height: 20px;
	}

}

/*
img[title]{
	border-style: dotted;
}

img[title="imagen distinta"]{
	border-style: groove;
}
*/