$fontletter: sans-serif;
$color-white: white;
$box-shadow-color: #888888;
/* Global  &__name &--name */
html,body
{
	overflow-x: hidden;
	min-height: 100%;
}

body
{
	font-family: $fontletter;
	color: $color-white;
	font-size: 80%;
	background: url(../images/bg.jpg) no-repeat center center;
	background-size: cover;
	min-height: 100%;
}
img
{
  max-width: 100%;
}
.wrapper
{
	max-width: 1024px;
	margin: 0 auto;
	padding: 0 16px;
}

.row{
	display: flex;
/*	margin-bottom: 4%;*/
}

.col{
	padding: 0 16px;
}

.col-15{
	width: 20%;
}
.col-6{
	width: 50%;
}

.g-ada-text{
	position: absolute;
	overflow:hidden;
	clip:rect(0 0 0 0);
	height: 1px;
	width: 1px;
	margin: -1px;
	padding: 0;
	border: 0;
}

.skip-navigation 
{
	position: fixed;
	top: 0;
	left: 0;
	
	a
	{
	display: block;
	background: #999;
	color: white;line-height: 40px;
	}

	a:focus
	{
	overflow: visible;
	clip: unset;
	height: auto;
	width: 150px;
	padding: 0 20px;
	}

}

.g-containers-background
{
	background-color: rgba(0, 0, 0, 0.3);
}
/* END Global*/

/* Main Content */
.main-content{
	margin-bottom: 40px;
}

.main__featured-content--paragraph
{
	height: 324px;
	width: 484px;
}

.main__featured-content--image-container
{
	background-color: rgba(255, 255, 255, 0.2);
	padding: 10px;
}
/* Related Content */
.row-carousel{
	padding-top: 10px;
}

.related-content__panels--image-text
{
	padding-top: 0px;
}
/* END Related Content */

/*  Header */
.header__bar
{
	padding-top: 15px;
	height: 50px;
	border-style: none;
	border-width: 1px;
	box-shadow: 10px 10px 5px $box-shadow-color;
	background: -webkit-linear-gradient(#00BFFF, #08c);
   	background: -moz-linear-gradient(#00BFFF, #08c);
   	background: -o-linear-gradient(#00BFFF, #08c);

	ul
	{
		li
		{
			  	list-style:none;
  				float: left;
  				margin-right: 20px;
  				font-size: 14pt;
  				font-family: $fontletter;
  				color: $color-white;
		}
	}

	a:hover
	{
		background-color: $color-white;
    	transition: background-color 200ms ease-out 58ms;
	}

}

/*
img[title]{
	border-style: dotted;
}

img[title="imagen distinta"]{
	border-style: groove;
}
*/