/* Main Content */
.main-content{
	margin-bottom: 40px;
}

.main__featured-content--paragraph
{
	/*
	height: 324px;
	width: 484px;
	*/
}

.main__featured-content--image-container
{
	background-color: rgba(255, 255, 255, 0.2);
	padding: 10px;
}