$padding-top1- :15px;
$height: 50px;
$style-none: none;
$border-width: 1px;
$box-shadow: #00BFFF;
$color-sky: #08c;
$color-box-shadow: #888888;
$color-white: white;
$position-left: left;


.component-search-bar 
{
	nav
	{
		padding-top: 15px;
		height: $height;
		border-style: $style-none;
		border-width: $border-width;
		box-shadow: 10px 10px 5px $color-box-shadow;
		background: -webkit-linear-gradient($box-shadow, $color-sky);
	   	background: -moz-linear-gradient($box-shadow, $color-sky);
	   	background: -o-linear-gradient($box-shadow, $color-sky);
	}
	
	ul
	{
		list-style: $style-none;
		margin-right: 20px;
  		font-size: 14pt;
  		font-family: sans-serif;
  		color: $color-white;
  		li
		{

			  	float: $position-left;
  				margin-right: 20px;
  				font-size: 14pt;
  				font-family: sans-serif;
  				color: $color-white;
			a
			{
				background-color: $color-white;
    			transition: background-color 200ms ease-out 58ms;
			}
		}
	}
}
