/* Related Content */
.row-carousel{
	padding-top: 10px;
}

.related-content__panels--image-text
{
	padding-top: 0px;
}
.related-content__panels--title
{
	min-height: 10px;
}
/* END Related Content */