/* Footer*/
.share-this{
  text-align: center;
}

.share-this__items
{
	list-style: none;
	
	text-align: center;
}
.share-this__items ul li
{  /*
	display: inline-block;
	float: left;
	*/
}
.share-this__items .facebook, .share-this__items .youtube, .share-this__items .twitter, .share-this__items .pinterest, .share-this__items .google-plus, .share-this__items .instagram
{
  background-image: url('../images/icons-sprite.png');
  background-repeat: no-repeat;
  display: inline-block;
}

.facebook
{
	height: 28px;
	width: 28px;
	background-position: 0px 0px;
}
.youtube
{
	height: 29px;
	width: 29px;
	background-position: -27px 0px;
}
.twitter
{
	height: 29px;
	width: 29px;
	background-position: -57px 0px;

}
.pinterest
{
	height: 29px;
	width: 29px;
	background-position: -86px 0px;

}

.google-plus
{
	height: 29px;
	width: 29px;
	background-position: -115px 0px;
}

.instagram
{
	height: 29px;
	width: 29px;
	background-position: -145px 0px;
}
/* fin footer */