@base-blue: red;
@base-red: red;
@base-white: pink;

.box
{

} 
.green
{
	background-color: @base-blue;
}
.brown
{
	background-color: @base-red;
}
.cyan
{
	background-color: @base-white;
	color :  white;
}
